body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial;
}

.calculator {
    border: 2px solid black;
    padding: 10px;
}

#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.buttons button {
    width: 50px;
    height: 40px;
    margin: 3px;
}
